<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>Box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>Fitness Equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>Piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Bathroom Appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home Plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>Other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cars</string>
		<key>submenu</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>Loose</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>9</string>
				<key>name</key>
				<string>Sand</string>
			</dict>
			<dict>
				<key>type</key>
				<string>10</string>
				<key>name</key>
				<string>Stone</string>
			</dict>
			<dict>
				<key>type</key>
				<string>11</string>
				<key>name</key>
				<string>Charcoal</string>
			</dict>
			<dict>
				<key>type</key>
				<string>12</string>
				<key>name</key>
				<string>Agricultural</string>
			</dict>
			<dict>
				<key>type</key>
				<string>13</string>
				<key>name</key>
				<string>Other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Liquid</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>14</string>
				<key>name</key>
				<string>Water</string>
			</dict>
			<dict>
				<key>type</key>
				<string>15</string>
				<key>name</key>
				<string>Mineral Oils</string>
			</dict>
			<dict>
				<key>type</key>
				<string>16</string>
				<key>name</key>
				<string>Reagents (safe)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>17</string>
				<key>name</key>
				<string>Reagents (toxic)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>18</string>
				<key>name</key>
				<string>Cooking Oil</string>
			</dict>
			<dict>
				<key>type</key>
				<string>19</string>
				<key>name</key>
				<string>Cinestar</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
