<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>home</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>furniture</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>Home appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>box</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>fitness equipment</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5</string>
				<key>name</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>bathroom appliances</string>
			</dict>
			<dict>
				<key>type</key>
				<string>6</string>
				<key>name</key>
				<string>Home plants</string>
			</dict>
			<dict>
				<key>type</key>
				<string>7</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cars</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>8</string>
				<key>name</key>
				<string>Car</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Loose</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>9</string>
				<key>name</key>
				<string>sand</string>
			</dict>
			<dict>
				<key>type</key>
				<string>10</string>
				<key>name</key>
				<string>Stone</string>
			</dict>
			<dict>
				<key>type</key>
				<string>11</string>
				<key>name</key>
				<string>charcoal</string>
			</dict>
			<dict>
				<key>type</key>
				<string>12</string>
				<key>name</key>
				<string>agricultural</string>
			</dict>
			<dict>
				<key>type</key>
				<string>13</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Liquid</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>14</string>
				<key>name</key>
				<string>water</string>
			</dict>
			<dict>
				<key>type</key>
				<string>15</string>
				<key>name</key>
				<string>mineral oils</string>
			</dict>
			<dict>
				<key>type</key>
				<string>16</string>
				<key>name</key>
				<string>Reagents (safe)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>17</string>
				<key>name</key>
				<string>Reagents (toxic)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>18</string>
				<key>name</key>
				<string>cooking oil</string>
			</dict>
			<dict>
				<key>type</key>
				<string>19</string>
				<key>name</key>
				<string>cinestar</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Boats</string>
		<key>submenu</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>fruits</string>
			</dict>
			<dict>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>vhgghchgfc</string>
			</dict>
			<dict>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>forage</string>
			</dict>
			<dict>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>other</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
